<div class="toolbar">
  <span class="title">VENDA</span>
  <div class="list">
    <button class="btnc btnc-cancelar">
      <span class="material-symbols-rounded">
        close
        </span>
    </button>
    <button class="btnc btnc-normal">
      <span class="material-symbols-rounded">
        print
        </span>
    </button>
    <button class="btnc btnc-normal" routerLink="/v1/venda/o">
      <span class="material-symbols-rounded">
        shopping_bag
        </span>
    </button>
    <button class="btnc btnc-none">
      <span class="material-symbols-rounded">
        more_vert
        </span>
    </button>
  </div>
</div>
<div class="list-podutos">

</div>
<div class="detalhes">
  <span class="contato">Remarca - Telefone</span>
  <div class="detalhes-pedido">
    <div class="detalhes-itens">
      <span>Quantidade itens: <strong>0,00</strong></span>
      <span>Total itens: <strong>R$ 0,00</strong></span>
      <span>Total desconto: <strong>R$ 0,00</strong></span>
      <button class="btn btn-confirm">
        Informar CPF/CNPJ
      </button>
    </div>
    <div class="detalhes-final">
      <button class="btn btn-comanda">
        Comanda
      </button>
      <span class="total-valor">R$ 0,00</span>
      <button class="btn btn-confirm">
        FINALIZAR
      </button>
    </div>
  </div>
</div>
