<div class="search-produto">
  <input class="ipt ipt-search" placeholder="Pesquisar produto" type="text" id="search-pd">
  <button class="btn btn-confirm">BUSCAR</button>
</div>
<div class="list">
  <item-produto [descricao]="'Outro'" [color]="'#31f300'"></item-produto>
  <item-produto [descricao]="'Outro'" [color]="'#31f300'"></item-produto>
  <item-produto [descricao]="'Outro'" [color]="''"></item-produto>
</div>
<div class="infos">
  <span>{{formattedDate}}</span>
  <span>{{versao}}</span>
</div>
