<section>
  <div class="list-menu">
    <div class="item" routerLink="venda" routerLinkActive="selecionado">
      <span class="material-symbols-rounded">
        shopping_cart
        </span>
        <span class="Txt-type">VENDER</span>
    </div>
    <div class="item" routerLink="estoque" routerLinkActive="selecionado">
      <span class="material-symbols-rounded">
        edit
        </span>
        <span class="Txt-type">CADASTROS</span>
    </div>
    <div class="item" routerLink="relatorio" routerLinkActive="selecionado">
      <span class="material-symbols-rounded">
        trending_up
        </span>
        <span class="Txt-type">RELATORIOS</span>
    </div>
    <div class="item" routerLink="contador" routerLinkActive="selecionado">
      <span class="material-symbols-rounded">
        mail
        </span>
        <span class="Txt-type">CONTADOR</span>
    </div>
    <div class="item" routerLink="configuracao" routerLinkActive="selecionado">
      <span class="material-symbols-rounded">
        settings
        </span>
        <span class="Txt-type">CONFIGURAR</span>
    </div>
    <div class="item" routerLink="suporte" routerLinkActive="selecionado">
      <span class="material-symbols-rounded">
        support_agent
        </span>
        <span class="Txt-type">SUPORTE</span>
    </div>
    <div class="item" routerLink="/login" routerLinkActive="selecionado">
      <span class="material-symbols-rounded">
        meeting_room
        </span>
        <span class="Txt-type">SAIR</span>
    </div>
  </div>
</section>
