$cor-base:#4682B4;
:host{
  background-color: #e4e4e4;
  display: flex;
  width: 30%;
  height: 100%;
  flex-direction: column;
}
.toolbar{
  display: flex;
  width: 100%;
  height: 10%;
  flex-direction: row;
  align-items: center;
  background-color: $cor-base;
  padding: 10px;
  .title{
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    color: white;
    padding-left: 10px;
  }
}
.list{
  display: flex;
  width: 25%;
  justify-content: space-between;
}
.btnc{
  img{
    width: 100%;
    //height: 100%;
  }
}
.list-podutos{
  display: flex;
  height: 100%;
}
.detalhes{
  display: flex;
  flex-direction: column;
  .contato{
    text-align: center;
    background: yellow;
    color: black;
    font-weight: bold;
    padding: 5px 0;
  }
  .detalhes-pedido{
    display: flex;
    flex-direction: row;
    background-color: $cor-base;
    .detalhes-itens{
      display: flex;
      flex-direction: column;
      width: 80%;
      padding: 10px;
      span{
        color: white;
      }
      .btn{
        width: 75%;
      }
    }
    .detalhes-final{
      display: flex;
      flex-direction: column;
      padding: 5%;
      align-items: center;
      span{
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
      }
    }
  }
}
